body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 5rem;
}

h1 {
    font-size: 3rem;;
}

form {
    display: grid;
    visibility: hidden;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 0;
    opacity: 0%;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    position: relative;
    z-index: 1;
    transition: opacity 3s, height 2s;
}

form.display {
    margin-top: 2rem;
    visibility: visible;
    height: auto;
    opacity: 100%;
    transition: opacity 2s, height 2s;
}

span {
    position: absolute;
    right: 5px;
    top: -3px;
    font-size: 2rem;
    cursor: pointer;
}

label {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

button {
    width: 6rem;
    margin: 1rem auto 0 auto;
}

.new-book-btn {
    height: 2rem;
    border-radius: 10px;
    border-width: 0px;
    background-color: navy;
    color: white;
    margin-top: 3rem;
    cursor: pointer;
}

.new-book-btn:hover {
    background-color: teal;
}

.books {
    margin-top: 5rem;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.book {
    background-color: white;
    border-radius: 5px;
    /* height: 7rem; */
    border-style: solid;
    border-width: 2px;
}

.book > h2 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: navy;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.book > p:nth-child(2) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.book > p {
    padding-left: 0.5rem;
}

.not-read > h2 {
    background-color: red;
}

.btn-remove {
    height: 1.5rem;
    background-color: red;
    color: white;
    margin: 1.5rem auto 1rem auto;
    display: block;
    border-style: none;
    border-radius: 5px;
}

.book-read-status {
    margin-top: 0.5rem;
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

.book-read-status-read {
    color: green;
}

.book-read-status-not-read {
    color: red;
}

@media only screen and (min-width: 1200px) {
    .books {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .books {
        grid-template-columns: 1fr 1fr;
    }
}